.header {
  height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.7),
      rgba($color-primary-dark, 0.7)
    ),
    url(../../img/header.jpg);
  background-size: cover;
  background-position: top;
  position: relative;

  &__logo-box {
    position: absolute;
    top: 5rem;
    left: 5rem;
  }

  &__logo {
    height: 10rem;
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
